.a-circles {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: white;
    transform: scale(.5);
     /* animation: animations 1s ease-in-out infinite; */
    position: absolute;
    z-index: 5;
}
.an {
    transform: scale(1) translateZ(0);
}

@keyframes animations {
    from {
        transform: scale(0.5) translateZ(0);
        box-shadow: 0 0 2px #47a3fa;
    }
    to {
        transform: scale(1.1) translateZ(0);
        box-shadow: 0 0 2px #47a3fa 0 0 2px #47a3fa;
    }
}
